@page "/employee"
@inherits EmployeeOverviewBase

<h3>Employee List</h3>


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Job</th>
        <th>Detail</th>
    </tr>
    <tbody>
        @foreach (var item in empoyees)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Job
                </td>
                <td>
                    <a href="@($"/employeedetail/{item.Id}")">Detail</a>
            
                </td>
            </tr>
        }
    </tbody>
</table>